main{
    padding: 2vh;
    padding-left: 20vh;
    padding-right: 20vh;
}
section{
    margin-bottom: 5vh;
    padding: 3vh;
    background-color: wheat;
    box-shadow: 20px 20px 20px black;
    border-radius: 1vh;
    text-align: center;
}
section > div > h2{
    color: orange;
    text-shadow: 0 0 5px black
}
.btn {
    color: orange;
    text-decoration: none;
    padding: 2vh;
    background-color: black;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: white;
    color: black;
}
.slogan{
    background-image: url(imagens/coxinha-de-frango-com-requeijao-mini-congelada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gente-comendo{
    height: 50vh;
    aspect-ratio: 16/9;
    background-image: url(/estilo/imagens/grupo-de-tres-estudantes-bonitos-sentado-no-refeitorio-da-universidade-almocando-falando-sobre-os-exames-de-ontem-vida-universitaria_176420-9166.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    
}